/*

The list of Socia icon files in 32px

addthis_32.png
aim_32.png
aim2_32.png
apple_32.png
bebo_32.png
behance_32.png
blogger_32.png
brightkite_32.png
cargo_32.png
delicious_32.png
design_bump_32.png
designfloat_32.png
designmoo_32.png
deviantart_32.png
digg_32.png
dopplr_32.png
dribbble_32.png
email_32.png
ember_32.png
evernote_32.png
facebook_32.png
flickr_32.png
friendfeed_32.png
github_32.png
google_32.png
google_buzz_32.png
google_talk_32.png
googlemaps_32.png
lastfm_32.png
linkedin_32.png
livejournal_32.png
mixx_32.png
mobileme_32.png
msn_32.png
myspace_32.png
netvibes_32.png
newsvine_32.png
orkut_32.png
pandora_32.png
paypal_32.png
picasa_32.png
posterous_32.png
qik_32.png
reddit_32.png
rss_32.png
sharethis_32.png
skype_32.png
slashdot_32.png
squidoo_32.png
stumbleupon_32.png
technorati_32.png
tumblr_32.png
twitter_32.png
viddler_32.png
vimeo_32.png
virb_32.png
windows_32.png
wordpress_32.png
xing_32.png
yahoo_32.png
yahoo_buzz_32.png
yelp_32.png
youtube_32.png

*/


/* Circular 32x32 px ------------------------------------------------------------*/


.social .addthis{ background: url(/museo/web/images/public/img/social-icons/circular/addthis_32.png); }
.social .aim{ background: url(/museo/web/images/public/img/social-icons/circular/aim_32.png); }
.social .aim2{ background: url(/museo/web/images/public/img/social-icons/circular/aim2_32.png); }
.social .apple{ background: url(/museo/web/images/public/img/social-icons/circular/apple_32.png); }
.social .bebo{ background: url(/museo/web/images/public/img/social-icons/circular/bebo_32.png); }
.social .behance{ background: url(/museo/web/images/public/img/social-icons/circular/behance_32.png); }
.social .blogger{ background: url(/museo/web/images/public/img/social-icons/circular/blogger_32.png); }
.social .brightkite{ background: url(/museo/web/images/public/img/social-icons/circular/brightkite_32.png); }
.social .cargo{ background: url(/museo/web/images/public/img/social-icons/circular/cargo_32.png); }
.social .delicious{ background: url(/museo/web/images/public/img/social-icons/circular/delicious_32.png); }
.social .design-bump{ background: url(/museo/web/images/public/img/social-icons/circular/design_bump_32.png); }
.social .designfloat{ background: url(/museo/web/images/public/img/social-icons/circular/designfloat_32.png); }
.social .designmoo{ background: url(/museo/web/images/public/img/social-icons/circular/designmoo_32.png); }
.social .deviantart{ background: url(/museo/web/images/public/img/social-icons/circular/deviantart_32.png); }
.social .digg{ background: url(/museo/web/images/public/img/social-icons/circular/digg_32.png); }
.social .dopplr{ background: url(/museo/web/images/public/img/social-icons/circular/dopplr_32.png); }
.social .dribbble{ background: url(/museo/web/images/public/img/social-icons/circular/dribbble_32.png); }
.social .email{ background: url(/museo/web/images/public/img/social-icons/circular/email_32.png); }
.social .ember{ background: url(/museo/web/images/public/img/social-icons/circular/ember_32.png); }
.social .evernote{ background: url(/museo/web/images/public/img/social-icons/circular/evernote_32.png); }
.social .facebook{ background: url(/museo/web/images/public/img/social-icons/circular/facebook_32.png); }
.social .flickr{ background: url(/museo/web/images/public/img/social-icons/circular/flickr_32.png); }
.social .friendfeed{ background: url(/museo/web/images/public/img/social-icons/circular/friendfeed_32.png); }
.social .github{ background: url(/museo/web/images/public/img/social-icons/circular/github_32.png); }
.social .google{ background: url(/museo/web/images/public/img/social-icons/circular/google_32.png); }
.social .google-buzz{ background: url(/museo/web/images/public/img/social-icons/circular/google_buzz_32.png); }
.social .google-talk{ background: url(/museo/web/images/public/img/social-icons/circular/google_talk_32.png); }
.social .googlemaps{ background: url(/museo/web/images/public/img/social-icons/circular/googlemaps_32.png); }
.social .lastfm{ background: url(/museo/web/images/public/img/social-icons/circular/lastfm_32.png); }
.social .linkedin{ background: url(/museo/web/images/public/img/social-icons/circular/linkedin_32.png); }
.social .livejournal{ background: url(/museo/web/images/public/img/social-icons/circular/livejournal_32.png); }
.social .mixx{ background: url(/museo/web/images/public/img/social-icons/circular/mixx_32.png); }
.social .mobileme{ background: url(/museo/web/images/public/img/social-icons/circular/mobileme_32.png); }
.social .msn{ background: url(/museo/web/images/public/img/social-icons/circular/msn_32.png); }
.social .myspace{ background: url(/museo/web/images/public/img/social-icons/circular/myspace_32.png); }
.social .netvibes{ background: url(/museo/web/images/public/img/social-icons/circular/netvibes_32.png); }
.social .newsvine{ background: url(/museo/web/images/public/img/social-icons/circular/newsvine_32.png); }
.social .orkut{ background: url(/museo/web/images/public/img/social-icons/circular/orkut_32.png); }
.social .pandora{ background: url(/museo/web/images/public/img/social-icons/circular/pandora_32.png); }
.social .paypal{ background: url(/museo/web/images/public/img/social-icons/circular/paypal_32.png); }
.social .picasa{ background: url(/museo/web/images/public/img/social-icons/circular/picasa_32.png); }
.social .posterous{ background: url(/museo/web/images/public/img/social-icons/circular/posterous_32.png); }
.social .qik{ background: url(/museo/web/images/public/img/social-icons/circular/qik_32.png); }
.social .reddit{ background: url(/museo/web/images/public/img/social-icons/circular/reddit_32.png); }
.social .rss{ background: url(/museo/web/images/public/img/social-icons/circular/rss_32.png); }
.social .sharethis{ background: url(/museo/web/images/public/img/social-icons/circular/sharethis_32.png); }
.social .skype{ background: url(/museo/web/images/public/img/social-icons/circular/skype_32.png); }
.social .slashdot{ background: url(/museo/web/images/public/img/social-icons/circular/slashdot_32.png); }
.social .squidoo{ background: url(/museo/web/images/public/img/social-icons/circular/squidoo_32.png); }
.social .stumbleupon{ background: url(/museo/web/images/public/img/social-icons/circular/stumbleupon_32.png); }
.social .technorati{ background: url(/museo/web/images/public/img/social-icons/circular/technorati_32.png); }
.social .tumblr{ background: url(/museo/web/images/public/img/social-icons/circular/tumblr_32.png); }
.social .twitter{ background: url(/museo/web/images/public/img/social-icons/circular/twitter_32.png); }
.social .viddler{ background: url(/museo/web/images/public/img/social-icons/circular/viddler_32.png); }
.social .vimeo{ background: url(/museo/web/images/public/img/social-icons/circular/vimeo_32.png); }
.social .virb{ background: url(/museo/web/images/public/img/social-icons/circular/virb_32.png); }
.social .windows{ background: url(/museo/web/images/public/img/social-icons/circular/windows_32.png); }
.social .wordpress{ background: url(/museo/web/images/public/img/social-icons/circular/wordpress_32.png); }
.social .xing{ background: url(/museo/web/images/public/img/social-icons/circular/xing_32.png); }
.social .yahoo{ background: url(/museo/web/images/public/img/social-icons/circular/yahoo_32.png); }
.social .yahoo-buzz{ background: url(/museo/web/images/public/img/social-icons/circular/yahoo_buzz_32.png); }
.social .yelp{ background: url(/museo/web/images/public/img/social-icons/circular/yelp_32.png); }
.social .youtube{ background: url(/museo/web/images/public/img/social-icons/circular/youtube_32.png); }




/* rounded 32x32 px ------------------------------------------------------------*/


.rounded .addthis{ background: url(/museo/web/images/public/img/social-icons/rounded/addthis_32.png); }
.rounded .aim{ background: url(/museo/web/images/public/img/social-icons/rounded/aim_32.png); }
.rounded .aim2{ background: url(/museo/web/images/public/img/social-icons/rounded/aim2_32.png); }
.rounded .apple{ background: url(/museo/web/images/public/img/social-icons/rounded/apple_32.png); }
.rounded .bebo{ background: url(/museo/web/images/public/img/social-icons/rounded/bebo_32.png); }
.rounded .behance{ background: url(/museo/web/images/public/img/social-icons/rounded/behance_32.png); }
.rounded .blogger{ background: url(/museo/web/images/public/img/social-icons/rounded/blogger_32.png); }
.rounded .brightkite{ background: url(/museo/web/images/public/img/social-icons/rounded/brightkite_32.png); }
.rounded .cargo{ background: url(/museo/web/images/public/img/social-icons/rounded/cargo_32.png); }
.rounded .delicious{ background: url(/museo/web/images/public/img/social-icons/rounded/delicious_32.png); }
.rounded .design-bump{ background: url(/museo/web/images/public/img/social-icons/rounded/design_bump_32.png); }
.rounded .designfloat{ background: url(/museo/web/images/public/img/social-icons/rounded/designfloat_32.png); }
.rounded .designmoo{ background: url(/museo/web/images/public/img/social-icons/rounded/designmoo_32.png); }
.rounded .deviantart{ background: url(/museo/web/images/public/img/social-icons/rounded/deviantart_32.png); }
.rounded .digg{ background: url(/museo/web/images/public/img/social-icons/rounded/digg_32.png); }
.rounded .dopplr{ background: url(/museo/web/images/public/img/social-icons/rounded/dopplr_32.png); }
.rounded .dribbble{ background: url(/museo/web/images/public/img/social-icons/rounded/dribbble_32.png); }
.rounded .email{ background: url(/museo/web/images/public/img/social-icons/rounded/email_32.png); }
.rounded .ember{ background: url(/museo/web/images/public/img/social-icons/rounded/ember_32.png); }
.rounded .evernote{ background: url(/museo/web/images/public/img/social-icons/rounded/evernote_32.png); }
.rounded .facebook{ background: url(/museo/web/images/public/img/social-icons/rounded/facebook_32.png); }
.rounded .flickr{ background: url(/museo/web/images/public/img/social-icons/rounded/flickr_32.png); }
.rounded .friendfeed{ background: url(/museo/web/images/public/img/social-icons/rounded/friendfeed_32.png); }
.rounded .github{ background: url(/museo/web/images/public/img/social-icons/rounded/github_32.png); }
.rounded .google{ background: url(/museo/web/images/public/img/social-icons/rounded/google_32.png); }
.rounded .google-buzz{ background: url(/museo/web/images/public/img/social-icons/rounded/google_buzz_32.png); }
.rounded .google-talk{ background: url(/museo/web/images/public/img/social-icons/rounded/google_talk_32.png); }
.rounded .googlemaps{ background: url(/museo/web/images/public/img/social-icons/rounded/googlemaps_32.png); }
.rounded .lastfm{ background: url(/museo/web/images/public/img/social-icons/rounded/lastfm_32.png); }
.rounded .linkedin{ background: url(/museo/web/images/public/img/social-icons/rounded/linkedin_32.png); }
.rounded .livejournal{ background: url(/museo/web/images/public/img/social-icons/rounded/livejournal_32.png); }
.rounded .mixx{ background: url(/museo/web/images/public/img/social-icons/rounded/mixx_32.png); }
.rounded .mobileme{ background: url(/museo/web/images/public/img/social-icons/rounded/mobileme_32.png); }
.rounded .msn{ background: url(/museo/web/images/public/img/social-icons/rounded/msn_32.png); }
.rounded .myspace{ background: url(/museo/web/images/public/img/social-icons/rounded/myspace_32.png); }
.rounded .netvibes{ background: url(/museo/web/images/public/img/social-icons/rounded/netvibes_32.png); }
.rounded .newsvine{ background: url(/museo/web/images/public/img/social-icons/rounded/newsvine_32.png); }
.rounded .orkut{ background: url(/museo/web/images/public/img/social-icons/rounded/orkut_32.png); }
.rounded .pandora{ background: url(/museo/web/images/public/img/social-icons/rounded/pandora_32.png); }
.rounded .paypal{ background: url(/museo/web/images/public/img/social-icons/rounded/paypal_32.png); }
.rounded .picasa{ background: url(/museo/web/images/public/img/social-icons/rounded/picasa_32.png); }
.rounded .posterous{ background: url(/museo/web/images/public/img/social-icons/rounded/posterous_32.png); }
.rounded .qik{ background: url(/museo/web/images/public/img/social-icons/rounded/qik_32.png); }
.rounded .reddit{ background: url(/museo/web/images/public/img/social-icons/rounded/reddit_32.png); }
.rounded .rss{ background: url(/museo/web/images/public/img/social-icons/rounded/rss_32.png); }
.rounded .sharethis{ background: url(/museo/web/images/public/img/social-icons/rounded/sharethis_32.png); }
.rounded .skype{ background: url(/museo/web/images/public/img/social-icons/rounded/skype_32.png); }
.rounded .slashdot{ background: url(/museo/web/images/public/img/social-icons/rounded/slashdot_32.png); }
.rounded .squidoo{ background: url(/museo/web/images/public/img/social-icons/rounded/squidoo_32.png); }
.rounded .stumbleupon{ background: url(/museo/web/images/public/img/social-icons/rounded/stumbleupon_32.png); }
.rounded .technorati{ background: url(/museo/web/images/public/img/social-icons/rounded/technorati_32.png); }
.rounded .tumblr{ background: url(/museo/web/images/public/img/social-icons/rounded/tumblr_32.png); }
.rounded .twitter{ background: url(/museo/web/images/public/img/social-icons/rounded/twitter_32.png); }
.rounded .viddler{ background: url(/museo/web/images/public/img/social-icons/rounded/viddler_32.png); }
.rounded .vimeo{ background: url(/museo/web/images/public/img/social-icons/rounded/vimeo_32.png); }
.rounded .virb{ background: url(/museo/web/images/public/img/social-icons/rounded/virb_32.png); }
.rounded .windows{ background: url(/museo/web/images/public/img/social-icons/rounded/windows_32.png); }
.rounded .wordpress{ background: url(/museo/web/images/public/img/social-icons/rounded/wordpress_32.png); }
.rounded .xing{ background: url(/museo/web/images/public/img/social-icons/rounded/xing_32.png); }
.rounded .yahoo{ background: url(/museo/web/images/public/img/social-icons/rounded/yahoo_32.png); }
.rounded .yahoo-buzz{ background: url(/museo/web/images/public/img/social-icons/rounded/yahoo_buzz_32.png); }
.rounded .yelp{ background: url(/museo/web/images/public/img/social-icons/rounded/yelp_32.png); }
.rounded .youtube{ background: url(/museo/web/images/public/img/social-icons/rounded/youtube_32.png); }






