/* 
    Document   : form
    Created on : 24/02/2011, 10:36:14
    Author     : leandro
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.title{
background-color:#385870;
text-align:left;
width:670px;
padding:5px 5px 5px 20px;
color:#FFFFFF;
font-weight:bold;
}
#formulario{
    margin-left:  80px;

}
.cuerpo_form{
width:670px;
height: auto;
float:left;
background-color:#f3f5f6;
padding:8px;
margin:5px 5px 5px 5px;
}
/*tablas*/
#form_trabajo th
{
  white-space: nowrap;
  font-style: italic;
}

#form_trabajo td, #form_trabajo th
{
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  text-align: left;
  vertical-align: top;
  padding: 7px;
}
#form_trabajo {
  width: 760px;
  margin: 0 auto;
}

#form_trabajo .radio_list label {
  margin-right: 15px;
}
/*formulario del filtro*/
#fields label {
	width: 230px;
	padding: 0px;
}
#fields th {
    width:      180px;
    text-align: right;
}
#fields input {
	border: 1px solid #C8D2D9;
	margin: 0 0 3px 0;
	width: 230px;
}
#fields select {
	border: 1px solid #C8D2D9;
	margin: 0 0 3px 0;
	width: 230px;
}
#fields checkbox {
	border: 1px solid #C8D2D9;
	margin: 0 0 3px 0;
}

