#title_logo_2{
    display: none;
}
#title_logo {

position: fixed; top: 0; left: 0; width: 100%; height: 2em;
}
#sfWebDebug {
    display : none;
}
#buscador {
    display : none;
}
.sf_admin_list tfoot, .sf_admin_batch_checkbox {
    display : none;
}
#sf_admin_list_batch_actions input {
    display : none;
}
#sf_admin_list_th_actions{
    display : none;
}

#botones, #column,  #sf_admin_path, #sf_admin_menu{
    display : none;
}
#volver{
    display : none;
}
#sf_admin_path{
    display : none;
}
#sf_admin_theme_header, #sf_admin_menu, #sf_admin_theme_footer_1{
    display : none;
}
#sf_admin_theme_footer_2 {
    display : none;
}
#sf_admin_theme_footer{
display: none
}
#sf_admin_list_th_actions{
  width: 0,001 px
}

#navigation, #sf_admin_bar, #sf_admin_list_th_sf_actions
{
    display : none;
}

.sf_admin_td_actions, .sf_admin_actions, .float-right {
   display : none;
}
html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{font-size:100%;}legend{color:#000;}del,ins{text-decoration:none;}

/* http://yui.yahooapis.com/2.6.0/build/fonts/fonts-min.css
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.6.0
*/
body{ font:13px/1.231 arial,helvetica,clean,sans-serif;
      font-size:small;
      font:x-small;}
select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}
table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace; font-size:108%;line-height:100%;}

/* http://yui.yahooapis.com/2.6.0/build/base/base-min.css
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.6.0
*/
h1{font-size:138.5%;}h2{font-size:123.1%;}h3{font-size:108%;}
h1,h2,h3{margin:1em 0;}h1,h2,h3,h4,h5,h6,strong{font-weight:bold;}
abbr,acronym{border-bottom:1px dotted #000;cursor:help;}
em{font-style:italic;}blockquote,ul,ol,dl{margin:1em;}ol,ul,dl{margin-left:2em;}
ol li{list-style:decimal outside;}ul li{list-style:disc outside;}dl dd{margin-left:1em;}
th,td{border:1px solid #000;padding:.5em;}th{font-weight:bold;text-align:center;}
caption{margin-bottom:.5em;text-align:center;}p,fieldset,table,pre{margin-bottom:1em;}
input[type=text],input[type=password],textarea{width:12.25em; width:11.9em;}

html
{
  background-color: #fff;
}

body
{
  padding: 0;
  text-align: left;
}

#sf_admin_container h1
{
  margin: 0;
  padding: 0;
  font-size: 2em;
  margin-bottom: 10px;
  color: #C64934;
}

#sf_admin_container thead tr, #sf_admin_content tfoot tr
{
  background: url("../images/background.jpg");
}

#sf_admin_container th
{
  white-space: nowrap;
}
.sf_admin_list table
{
  width: 100%;
}
.sf_admin_list td, .sf_admin_list th
{
  border: 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  text-align: left;
  vertical-align: top;
}

.sf_admin_list th
{
  border-bottom: 0;
  border-top: 0;
}

.sf_admin_list tr 
{
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#sf_admin_container tfoot td
{
  margin: 0;
  list-style: none;
  text-align: right;
}
.even td {
  background-color: #EEEEEE;
}
.sf_admin_row even{
background-color: #EEEEEE;
}
.sf_admin_list tr
{
  background-color: #fff;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}

  
#sf_admin_content a {
    color: #000000;
    text-decoration: none
}
