#title_logo{
    display: none;
}
#espacio_blanco{
    display: none;
}
#fields.logeo tr td{
    border: solid 0px black;
}
#fields th, td {
    border: 0px solid #000000;
    padding: 0.5em;
}
#formulario_show{
    background: url("../img/layout/background.jpg") repeat fixed -50% 0 #EBEBEB;
    margin-left: 0px;
}
#formulario_show th{
    border: 0px solid #000000;    
    text-align: right;
     font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2",Georgia,Cambria,"Times New Roman",Times,serif;
    font-size: 1em;
    line-height: 1.5;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.6);
}
#formulario_show tr{
    border: 0px solid #000000;
}
.dentro {
    border: 1px solid #000000;
    width: 600px
}
#formulario_show th.dentros {
    text-align: left;
}
#sf_admin_theme_footer_1{
    float:left
}
#sf_admin_theme_footer_2{
display:inline;  
float:right
}

#sf_admin_container
.content input{
    min-width: 350px;
}