/* 
    Document   : search
    Created on : 21/12/2012, 17:31:54
    Author     : leandro
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#buscador tr
{
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#buscador
{

}


#buscador td, #buscador th
{
  border: 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  text-align: left;
  vertical-align: top;
}

#buscador th
{
  border-bottom: 0;
  border-top: 0;
}

#buscador tr
{
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}