
/*------contact form------*/
#contact_form{
float:left;
width:300px;
padding:10px 10px 0 10px;
color:#fff;
}
#contact_form input{
width:240px;
height:17px;
font-size:10px;
float:left;
background-color:#3F1015;
border:1px #6F222B solid;
color:#FFFFFF;
}
#contact_form label{
width:50px;
float:left;
padding:0 0 5px 0;
font-size:12px;
color:#FFFFFF;
}
#contact_form textarea{
width:290px;
height:80px;
font-size:10px;
float:left;
color:#FFFFFF;
background-color:#3F1015;
border:1px #6F222B solid;
}
#contact_form input{
float:right;
padding:10px;
}
.cleardiv {
clear:both;
overflow:hidden;
height:4px;
}
.clear{
clear:both;
}
.product_box{
width:320px;
height: auto;
margin:auto;
float:left;
padding:8px;
margin:0 0 8px 8px;
border:1px #9e1c50 solid;
}
.product_box_details{
width:640px;
height: auto;
margin:auto;
float:left;
padding:8px;
margin:0 0 0 8px;
border:1px #9e1c50 solid;
}
img.prod_image{
float:left;
padding:0 10px 0 0;
}
/**********************************************/
#sf_admin_container input, #sf_admin_container textarea, #sf_admin_container select
{
  padding: 3px;
  font-family: Arial, sans-serif;
  font-size: 11px;
  border: 1px solid #ddd;
  vertical-align:middle;
  width: 30em;
}

#footer-cols li.col1 {
    display: block;
    font-size: 12px;
    width: 200px;
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
}