@import url('global.css');


#sf_admin_path a, #logout a {
  color: #C64934;
  text-decoration: none;
}
#sf_admin_path a:hover, #logout a:hover {
  color : #C64934;
  text-decoration : underline;
}
#sf_admin_path a:active, #logout a:active {
  color : #C64934;
  text-decoration : underline;
}

#logout
{
  font-weight: bold;
  text-align: right;
  padding-top: 7px;
  padding-right: 10px;
}

#sf_admin_container
{
  padding: 10px 30px;
}

#sf_admin_container a
{
  color: #464646;
  text-decoration: none;
}

#sf_admin_container a:hover
{
  color: #000;
  text-decoration: underline;
}

#sf_admin_container h1
{
  margin: 0;
  padding: 0;
  font-size: 2em;
  margin-bottom: 10px;
  color: #C64934;
}

#sf_admin_container h2
{
  padding: 5px;
  margin: 0;
  color: #111;
  background: url(../images/background.jpg) repeat-x;
  font-size: 14px;
  font-style: italic;
}

#sf_admin_container thead tr, #sf_admin_content tfoot tr
{
  background: url(../images/background.jpg);
}

#sf_admin_container th
{
  /*background-color: #e7eef6;*/
  white-space: nowrap;
}

#sf_admin_container th a
{
  color: #000;
}

.sf_admin_list td, .sf_admin_list th, #sf_admin_bar td, #sf_admin_bar th
{
  border: 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  text-align: left;
  vertical-align: top;
}

.sf_admin_list th, #sf_admin_bar th
{
  border-bottom: 0;
  border-top: 0;
}

.sf_admin_list tr, #sf_admin_bar tr
{
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#sf_admin_container ul.error_list
{
  margin: 0;
  margin-bottom: 7px;
  color: #d33;
  border: none;
  background-color: #f33;
}

#sf_admin_container ul.error_list li
{
  padding: 4px;
  padding-left: 25px;
  list-style: none;
  color: #fff;
  background: url(../images/error.png) no-repeat 4px 4px;
}

#sf_admin_container input
{
  width: auto;
}
 #sf_admin_container textarea
{
  min-width: 360px;
}


#sf_admin_container .radio_list, #sf_admin_container .checkbox_list
{
  margin: 0;
}

#sf_admin_container .radio_list li, #sf_admin_container .checkbox_list li
{
  list-style: none;
  display: inline;
}

#sf_admin_container .double_list_select, #sf_admin_container .double_list_select-selected
{
  min-width: 12em;
}

#sf_admin_container .double_list_label
{
  font-weight: bold;
}

#sf_admin_container tfoot td
{
  margin: 0;
  list-style: none;
  text-align: right;
}

#sf_admin_container thead img, #sf_admin_container tfoot img
{
  vertical-align: middle;
}

#sf_admin_bar
{
  float: right;
  margin-left: 20px;
}

.sf_admin_pagination
{
  float: right;
}

#sf_admin_container ul.sf_admin_td_actions
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#sf_admin_container .sf_admin_form ul.sf_admin_actions
{

}

#sf_admin_container ul.sf_admin_td_actions li
{
  list-style-type: none;
  display: inline;
  margin-right: 10px;
  font-size: 90%;
}

#sf_admin_container ul.sf_admin_actions
{
  margin: 10px 0;
  list-style-type: none;
}

#sf_admin_container ul.sf_admin_actions li
{
  list-style-type: none;
  display: inline;
  margin-right: 10px;
}

#sf_admin_container ul li a
{
  padding-left: 20px;
  background: url(../images/default.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_new a
{
  background: url(../images/new.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_delete a
{
  background: url(../images/delete.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_list a
{
  background: url(../images/list.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_edit a
{
  background: url(../images/edit.png) no-repeat 0 0;
}

#sf_admin_container .notice
{
  margin: 4px 0;
  padding: 4px 4px 4px 30px;
  background: url(../images/tick.png) no-repeat 10px 4px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #ffc;
}

#sf_admin_container .error
{
  margin: 4px 0;
  padding: 4px 4px 4px 30px;
  background: url(../images/error.png) no-repeat 10px 4px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f33;
  color: #fff;
}

#sf_admin_container .sf_admin_row_0 td
{
}

#sf_admin_container .sf_admin_row_1 td
{
  /*  background-color: #eee;*/
}

/*#sf_admin_container fieldset h2
{
padding: 5px;
margin: 0;
color: #111;
background: url(../images/sf_admin/background.jpg) repeat-x;
font-size: 14px;
font-style: italic;
}*/

#sf_admin_container fieldset
{
  /*margin-bottom: 3px;*/
  border: 1px solid #ddd;
  border-bottom: 0px;
  /*background-color: #fff;*/
}

#sf_admin_container fieldset.collapsed * { display:none; }
#sf_admin_container fieldset.collapsed h2, #sf_admin_container fieldset.collapsed { display:block !important; }
#sf_admin_container fieldset.collapsed .collapse-toggle { display: inline !important; }
#sf_admin_container fieldset.collapse h2 a.collapse-toggle { color:#ffc; }
#sf_admin_container fieldset.collapse h2 a.collapse-toggle:hover { text-decoration:underline; }

#sf_admin_container label
{
  display: block;
  padding: 0 0 3px 0;
  float: left;
  text-align: left;
  width: 11em;
  color: #666;
  font-weight: normal !important;
}

#sf_admin_container ul label, #sf_admin_container td label
{
  display: inline;
  float: none !important;
}

#sf_admin_container .sf_admin_form_row
{
  clear: both;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#sf_admin_container .sf_admin_form_row .content
{
  padding-left: 9em;
}

#sf_admin_container .help
{
  padding-left: 11em;
  color: #aaa;
}

#sf_admin_container td .help
{
  padding-left: 0;
}

#sf_admin_container .errors input, #sf_admin_container .errors select
{
  border: 1px solid #f22;
}

.sf_admin_list .sf_admin_boolean
{
  text-align: center;
}

.sf_admin_list table
{
  width: 100%;
}

/*sf_admin_theme_plugin styles*/
#sf_admin_theme_header
{
  background: url(../images/header_bg.png) repeat-x;
  border-bottom: #C64934 4px solid;
  margin: 0;
  padding: 0;
  height: 38px;
}

#sf_admin_menu
{
  padding: 0 8px;
  background: #F1F3F5;
  border-bottom: 1px solid #cccccc;
}

#sf_admin_path
{
  padding: 20px;
  background: #F1F3F5;
  border-bottom: 1px solid #cccccc;
}

#sf_admin_theme_footer
{
  text-align: center;
  font-size: .8em;
  color: #666;
}

.clear
{
  clear: both;
}

/**
* Dashboard
*/
/* mod_quickicon */

.cpanel
{
  text-align: center;  vertical-align: middle;
  border: 1px solid #ddd;
  padding: 2px 2px 5px 2px;
  margin-bottom: 20px;
}

.cpanel div.icon   { margin: 3px; }
.cpanel div.icon a {
  display: block; float: left;
  color: #333 !important;
  height: 97px !important;
  height: 100px;
  width: 108px !important;
  width: 110px;
  vertical-align: middle;
  text-decoration : none;
  border: 1px solid #DDD;
  padding: 2px 5px 1px 5px;
}

.cpanel div.icon a:link    {  color : #808080;  }
.cpanel div.icon a:hover   {
  color : #333;
  background-color: #f1e8e6;
  text-decoration: none !important;
  border: 1px solid #c24733;
  padding: 3px 4px 0px 6px;
}
.cpanel div.icon a:active  {  color : #808080;  }
.cpanel div.icon a:visited {  color : #808080;  }

.cpanel div.icon img { margin-top: 13px; }
.cpanel div.icon span { display: block; padding-top: 3px;}

ul.error_list
{
  border: 1px red solid;
  background: url(../images/error.png) no-repeat;
  background-position: 99% 50%;
  margin-left: 0;
}
ul.error_list li
{
  margin: 0;
  padding: 3px 0 3px 3px;
  list-style-type: none;
}

.button {
  background:#E9ECEF none repeat scroll 0 0;
  border:1px solid #CCCCCC;
  color:#666666;
  font-size:11px;
  font-weight:bold;
  padding:4px;
  margin-top: 10px;
}
.login {
  background:#F1F3F5 none repeat scroll 0 0;
  border:1px solid #CCCCCC;
  margin-left:auto;
  margin-right:auto;
  margin-top:6em;
  padding:15px;
  width:429px;
  font-size: 11px;
  margin-bottom: 2em;
}
.login h1 {
  background:transparent url(../images/login_error.png) no-repeat scroll left top;
  color:#333333;
  font-size:1.5em;
  height:50px;
  margin:0;
  padding:15px 4px 0 55px;
  text-align:left;
}
.login p {
  padding:0 1em;
}
.form-block {
  background:#E9ECEF none repeat scroll 0 0;
  border:1px solid #CCCCCC;
  padding:15px 0 10px 15px;
}
.login-form {
  float:right;
  text-align:left;
  width:60%;
}
.login-text {
  float:left;
  text-align:left;
  width:40%;
}
.inputlabel {
  font-weight:bold;
  text-align:left;
}
.inputbox {
  border:1px solid #CCCCCC;
  margin:0 0 1em;
  width:150px;
  padding: 3px;
}

.inputcheck
{
  margin-left: 6px;
}

.clr {
  clear:both;
}
.ctr {
  text-align:center;
  margin-bottom: 20px;
}

/* Drop Down Menu */
#sf_admin_menu ul
{
  padding: 0;
  margin: 0;
}

#sf_admin_menu li
{
  list-style: none;
}

li.node
{
  display: block;
  float: left;
  position: relative;
  padding: 7px 20px 7px 10px;
  background: url(../images/menubardown.gif) no-repeat right;
}

li.nodehover
{
  background: url(../images/menubardownhover.gif) no-repeat right;
}

li.node ul
{
  position: absolute;
  top: 30px;
  left: 5px;
  display: none;
  background: #eee;
  border: #ccc solid 1px;
  width: 150px;
  z-index: 100;
}
li.node ul li
{
  padding: 5px;
}
li.node img
{
  vertical-align: middle;
}

li.node a, li.node a:visited
{
  text-decoration: none;
  font-weight: bold;
  color: #222;
}

li.node a:hover
{
  color: #C64934
}

li.item-menu
{
  display: block;
  float: left;
  position: relative;
  padding: 7px 10px 7px 10px;
}

li.item-menu a, li.item-menu a:visited
{
  text-decoration: none;
  font-weight: bold;
  color: #222;
}

li.item-menu a:hover
{
  color: #C64934
}

.content input, .content select, .content textarea,
.sf_admin_filter tbody input, .sf_admin_filter tbody select {
  margin: 2px 0;
  padding: 4px;
  color: #6A6969;
  border-width: 1px;
  border-style: solid;
  border-color: #d4d4d4 #ebebeb #ebebeb #d4d4d4;

}

.content input:hover,.content input:focus, .content select:hover,
.sf_admin_filter tbody input:hover, .sf_admin_filter tbody select:hover {
  background-color: #fffccc;
}

.even td {
  background-color: #eee;
}
